<!DOCTYPE html>
<html>
  <head>
    <title>MIPS Calling Convention</title>

    <link href="index.css" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/vue"></script>

    <meta charset="utf-8" />
  </head>
  <body>
    <div id="app">
      <h1>MIPS Calling Convention Helper</h1>

      <div id="registers">
        <p><label>Registers needing stack space:</label></p>
        <div class="registerGroup">
          <label>Callee saved:</label><br />
          <div class="registerBox">
            <input type="checkbox" id="chk-s0" v-model="usedRegisters.s0" /><label for="chk-s0">s0</label>
            <input type="checkbox" id="chk-s1" v-model="usedRegisters.s1" /><label for="chk-s1">s1</label>
            <input type="checkbox" id="chk-s2" v-model="usedRegisters.s2" /><label for="chk-s2">s2</label>
            <input type="checkbox" id="chk-s3" v-model="usedRegisters.s3" /><label for="chk-s3">s3</label>
          </div>
          <div class="registerBox registerBoxSeparate">
            <input type="checkbox" id="chk-s4" v-model="usedRegisters.s4" /><label for="chk-s4">s4</label>
            <input type="checkbox" id="chk-s5" v-model="usedRegisters.s5" /><label for="chk-s5">s5</label>
            <input type="checkbox" id="chk-s6" v-model="usedRegisters.s6" /><label for="chk-s6">s6</label>
            <input type="checkbox" id="chk-s7" v-model="usedRegisters.s7" /><label for="chk-s7">s7</label>
          </div>
          <div class="registerBox registerBoxSeparate">
            <!-- <input type="checkbox" id="chk-k0" v-model="usedRegisters.k0" /><label for="chk-k0">k0</label>
            <input type="checkbox" id="chk-k1" v-model="usedRegisters.k1" /><label for="chk-k1">k1</label> -->
            <!-- <input type="checkbox" id="chk-gp" v-model="usedRegisters.gp" /><label for="chk-gp">gp</label> -->
            <input type="checkbox" id="chk-sp" v-model="usedRegisters.sp" /><label for="chk-sp">sp</label>
            <input type="checkbox" id="chk-fp" v-model="usedRegisters.fp" /><label for="chk-fp">fp</label>
            <input type="checkbox" id="chk-ra" v-model="usedRegisters.ra" /><label for="chk-ra">ra</label>
          </div>
        </div>
        <div class="registerGroup">
          <label>Caller saved:</label><br />
          <div class="registerBox registerBoxSeparate">
            <input type="checkbox" id="chk-a0" v-model="usedRegisters.a0" /><label for="chk-a0">a0</label>
            <input type="checkbox" id="chk-a1" v-model="usedRegisters.a1" /><label for="chk-a1">a1</label>
            <input type="checkbox" id="chk-a2" v-model="usedRegisters.a2" /><label for="chk-a2">a2</label>
            <input type="checkbox" id="chk-a3" v-model="usedRegisters.a3" /><label for="chk-a3">a3</label>
          </div>
          <div class="registerBox">
            <input type="checkbox" id="chk-t0" v-model="usedRegisters.t0" /><label for="chk-t0">t0</label>
            <input type="checkbox" id="chk-t1" v-model="usedRegisters.t1" /><label for="chk-t1">t1</label>
            <input type="checkbox" id="chk-t2" v-model="usedRegisters.t2" /><label for="chk-t2">t2</label>
            <input type="checkbox" id="chk-t3" v-model="usedRegisters.t3" /><label for="chk-t3">t3</label>
          </div>
          <div class="registerBox">
            <input type="checkbox" id="chk-t4" v-model="usedRegisters.t4" /><label for="chk-t4">t4</label>
            <input type="checkbox" id="chk-t5" v-model="usedRegisters.t5" /><label for="chk-t5">t5</label>
            <input type="checkbox" id="chk-t6" v-model="usedRegisters.t6" /><label for="chk-t6">t6</label>
            <input type="checkbox" id="chk-t7" v-model="usedRegisters.t7" /><label for="chk-t7">t7</label>
          </div>
          <div class="registerBox registerBoxSeparate">
            <input type="checkbox" id="chk-t8" v-model="usedRegisters.t8" /><label for="chk-t8">t8</label>
            <input type="checkbox" id="chk-t9" v-model="usedRegisters.t9" /><label for="chk-t9">t9</label>
          </div>
          <div class="registerBox">
            <input type="checkbox" id="chk-at" v-model="usedRegisters.at" /><label for="chk-at">at</label>
            <input type="checkbox" id="chk-v0" v-model="usedRegisters.v0" /><label for="chk-v0">v0</label>
            <input type="checkbox" id="chk-v1" v-model="usedRegisters.v1" /><label for="chk-v1">v1</label>
          </div>
        </div>
      </div>

      <br />
      <table role="presentation" class="numTable">
        <tr>
          <td>
            <label for="argWords">Argument words:</label>
          </td>
          <td>
            <input id="argWords" type="number" min="0" v-model.number="argWords" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="localDataWords">Local data size:</label>
          </td>
          <td>
            <input id="localDataWords" type="number" min="0" v-model.number="localDataWords" /> <code>* 4</code>
          </td>
        </tr>
      </table>

      <h3>Generated assembly:</h3>

      <p>
        <input type="checkbox" id="includeHelp" v-model="includeHelp" />
        <label for="includeHelp">Show hint code</label>

        <input type="checkbox" id="useHexNumbers" v-model="useHexNumbers" />
        <label for="useHexNumbers">Hexadecimal</label>
      </p>

      <pre id="assemblyOutput">{{assembly}}</pre>
    </div>

    <script src="index.js" type="module"></script>
  </body>
</html>