body {
  font-family: sans-serif;
}

#argWords, #localDataWords {
  width: 4em;
}

.registerGroup {
  display: inline-block;
}
.registerGroup:not(:first-of-type) {
  margin-left: 1em;
}

.registerBox {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  padding-bottom: 0.5em;
}

.registerBox label {
  font-family: monospace;
}

.registerBoxSeparate {
  padding-right: 1em;
}

.registerBoxNoEffect {
  opacity: 0.5;
}

.numTable td {
  padding: 0.25em 0;
}

#assemblyOutput {
  font-size: 130%;
  display: inline-block;
}
